html, body, h1, h2, h3, h4, ul, ol, li, p, a div {
  background-image: url("/Users/codetalk/Desktop/photo-1556292026-bf74f176f6b2.jpg");
  background-repeat: cover;

     background-color: #ededed;
     
    
      }  
    

h1 {
    text-decoration: overline;
      font-weight: bold;
      font-size: 70px;
      color: green;
      margin: 15px 0 15px;
      text-align: center;
      font-family: 'Comfortaa', sans-serif;
  }


  
  h2{
    text-decoration: underline;
      font-weight: bold;
      font-size: 40px;
      color: green;
      margin: 15px 0 15px;
      text-align: left;
      font-family: 'Cabin', sans-serif;
      padding-top: 70px;
      padding-bottom: 10px;
      text-align: center;

  }

  h3{
    
    padding-top: 50px;
    font-size: 30px;
    margin: 70px 15px 70px 15px;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    text-decoration: overline ;
    background: #e0e0e0;
  }

  .image1{

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px 0 50px 0;
    border: 3px solid green;

   
  }
  



  .image2{

    
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 50px;
      padding-top: 50px;
      
    
    
  }
  
  


  div{
    background-color: #e0e0e0;
    border: 3px solid #e0e0e0;
    margin-left: 60px;
    margin-right: 60px;
}


  p {
      background: #e0e0e0;
       text-align: center;
       line-height: normal;
       margin-left: 150px;
       margin-right: 150px;
       font-family: comfortaa, cabin;
    
       
    }

       
     a{
       display: inline-block;
          border: 1px solid green;
          text-decoration: none;
          color: green;
          margin-right: 15px;
        
          } 

          a:nth-child(2) {
            display: inline-block;
          text-decoration: none;
          color: green;
          }
   
    a:hover {
          background-color: #f5f5dc;
      }


    footer{
        
          padding-top: 10px;
          padding-bottom: 20px;
          background: rgb(86, 163, 23);
          
          
    }

    


